
/*CLASIFICAR ESTO! pendiente */
*{
    font-family: 'IBM Plex Sans', sans-serif;
   }
.navbar {background-image: linear-gradient(to right, #051243, #0530ad);}

.modal-header {color: white; background-color: #191970;}

.modal-dialog {overflow-y: initial}
.close {color: whitesmoke;}
 hr.style1 {border-top: 1px solid #8c8b8b;}
.hide {display: none;}
.option { width: 100%;}

.bd-example-modal-lg .modal-dialog {
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content {
    background-color: transparent;
    border: none;
}

#table {
    table-layout: fixed;
    word-wrap: break-word;
}

#cont-table { padding-top: 2rem}
#finicio,#ffin {width: 10rem;}

.input-daterange .input-group-addon {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: lightgray;
}



  /* NAVBAR */  
 
  #hamburguerMenu{
display: none;
  }
#side-navbar {
    background-color: black;
    height: 100%;
    width: 17%;
    position: fixed;
  }
  
   #logo {
      display: block;
      margin: 50px auto 50px auto;  
   }

  #side-navbar img{
      width:50%
  }
  #menu {
      list-style: none;
      padding-left: 22px;
  }
  
  #menu li:not(:last-child) {
      margin-bottom: 30px;
  }
  #menu li a {
      text-decoration: none;
      color: white;
      display: flex;  
  justify-content: space-around; 

  }
  #menu li a:hover{
      color:gray;
  }
  @media screen and (max-width: 800px) {
    #nav{
      display: none;
    }
    #hamburguerMenu{
        display: block;
        color:white;
    }
  }
  
  
  
  

/*  L U I S A NAV

   *{
    font-family: 'IBM Plex Sans', sans-serif;
   }
  
  .navbar{
        background-image: linear-gradient(to right,#051243,#0530ad);
    }
    
    .modal-header{
        color: white;
        background-color: #191970;
    }
    
    .modal-dialog{
        overflow-y: initial
    }
    
    
    .close{
        color: whitesmoke;
    }
    
    hr.style1{
        border-top: 1px solid #8c8b8b;
    }
    
    .hide
    {
    display:none;
    }
    
    .option{
    width:100%;
    }
    
    .bd-example-modal-lg .modal-dialog{
        display: table;
        position: relative;
        margin: 0 auto;
        top: calc(50% - 24px);
    }
    
    .bd-example-modal-lg .modal-dialog .modal-content{
        background-color: transparent;
        border: none;
    }
    
    
    #table {
        table-layout: fixed;
        word-wrap: break-word;
    }
    
    #cont-table{
        padding-top: 2rem;
    }
    
    #finicio, #ffin{
       
        width: 10rem;
        
    }
    
    .input-daterange .input-group-addon{
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: lightgray;
    }
>>>>>>> f002d0dfa4022541cb762de9003f15e80a24b216
*/